body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background-color: grey;
}

.header{
    text-transform: uppercase;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    height: 150px;
    margin-top: 50px;
}

.menu {
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 30px;
    grid-auto-flow: column;
}

/*
========================
       BUTTONS
========================
*/

.menu-button {
    color: #FFF;
    height: 100px;
    color: white;
    font-family: "Open Sans", sans-serif;
    background-color: #05386B;
    text-align: center;
    min-width: 150px;
}

.table-button {
  color: black;
  background-color: transparent;
  border-color: transparent;
  cursor: default;
  height: 30px;
  width: 30px;
  outline: none;
}

.table-button-pressed1 {
  background-color: #555555;
  height: 30px;
  width: 30px;
}

.table-button-pressed2 {
  background-color: #d6d6d6;
  height: 30px;
  width: 30px;
}

.table-button:hover, .table-button-pressed1:hover, .table-button-pressed2:hover {
  background-color: #222222;
  height: 30px;
  width: 30px;
}

/*
========================
         Table
========================
*/

table {
  border: 1px solid #05386B;
  border-style: ridge;
  border-spacing: 0px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

th {
  border: 1px solid #05386B;
  color: white;
}

.table-size {
    width: 30px;
    height: 30px;
}

.table-size-hover {
    width: 30px;
    height: 30px;
    background-color: red;
}