table, th, td {
  border: 1px solid black;
}

th, tr {
    width: 30px;
    height: 30px;
}

.table-button {
  color: black;
  background-color: transparent;
  border-color: transparent;
  cursor: default;
  height: 30px;
  width: 100%
}
