body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background-color: white;
}

.header{
    text-transform: uppercase;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: black;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    height: 100px;
    margin-top: 50px;
}

.menu {
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    gap: 30px;
}

.lives {
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    gap: 5px;
}

.h1 {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 24px;
  color: #0966c3;
}

.rules {
    width: 60%;
    margin-left: 20%;
}

.rulestext {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 18px;
    color: black;
}

.heart {
    background-image: url("resources/pixel-heart.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 50px;
    min-height: 50px;
}

.brokenheart {
    background-image: url("resources/pixel-heart-broke.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 50px;
    min-height: 50px;
}

.text {
    margin-top: 5px;
    vertical-align: middle;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: black;
}

/*
========================
       SPACER
========================
*/

.spacer50 {
   min-height: 50px;
   text-align: center;
   font-family: "Open Sans", sans-serif;
   font-size: 18px;
   color: black;
}

.spacer300 {
    min-height: 300px;
}

/*
========================
       BUTTONS
========================
*/

.menu-button {
    color: #FFF;
    height: 80px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: #0966c3;
    text-align: center;
    min-width: 150px;
    border: none;
}

.dropdown-caption {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.menu-button:hover {
    background-color: #05386b;
}

.dropdown:hover .dropdown-button {background-color: #05386b;}
.dropdown:hover .dropdown-content {display: block;}

.dropdown-button {
  background-color: #0966c3;
  color: white;
  width: 160px;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-element-button:hover {background-color: #05386b;}

.dropdown-element-button {
  background-color:#0966c3;
  color: white;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: block;
}

.table-button {
  color: black;
  background-color: transparent;
  cursor: default;
  height: 30px;
  width: 30px;
  outline: none;
  border: none;
  display: block;
}

.table-button-pressed1 {
  background-color: #555555;
  height: 30px;
  width: 30px;
}

.table-button-pressed2 {
  background-color: #d6d6d6;
  height: 30px;
  width: 30px;
}

.table-button:hover, .table-button-pressed1:hover, .table-button-pressed2:hover {
  background-color: #222222;
  height: 30px;
  width: 30px;
}

/*
========================
         Table
========================
*/

table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
  border-collapse: collapse;
}

th {
  color: black;
  user-select: none;
}

.th1 {
  border: 1px solid black;
}

.th2 {
  border: 1px solid black;
  border-right: 5px solid #0966c3;
}

.th3 {
  border: 1px solid black;
  border-bottom: 5px solid #0966c3;
}

.table-size {
    width: 30px;
    height: 30px;
}

.table-size-hover {
    width: 30px;
    height: 30px;
    background-color: #0966c3;
    color: white;
}

/*
========================
      Input Box
========================
*/

.column-segments {
    vertical-align: bottom;
    border: 1px solid black;
}

.row-segments {
    text-align: right;
    border: 1px solid black;
}

.column-segments-input {
    width: 30px;
    min-height: 26px;
    padding: 2px 0px;
    color: black;
    background-color: white;
    line-height: 1.4;
    display: inline-block;
    vertical-align: center;
}

.row-segments-input {
    min-width: 20px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    background-color: white;
    display: inline-block;
}
